# Data Exploration

First, let's observe our data to understand its structure and content.

In [1]:
import pandas as pd

df_input = pd.read_excel(r"C:\Users\clint\Desktop\RA Task\Ohio_2018_Resurfacing PRR.xlsx")
df_input

,Bid Date,Project Num,County,PID,RouteSection,Desc,AwardDate,CompletionDate,Contract$,AdjCompDt,AdjContAmt
0,2018-11-08,180569,WYA,88832,US 23-15.89,FOUR LANE RESURFACING,2018-11-15,2019-09-01,3236774.92,2020-04-08,3304782.83
1,2018-01-11,180006,BUT,94263,SR 73-14.67,TWO LANE RESURFACING,2018-01-18,2018-08-01,258900.00,2018-08-01,232677.67
2,2018-01-11,180012,FRA,76467,IR 270-21.69,FOUR LANE RESURFACING,2018-01-18,2018-09-30,6101480.95,2018-11-18,6991613.05
3,2018-01-11,180020,HOC,101555,CR 33A -03.97,TWO LANE RESURFACING,2018-01-18,2018-09-30,553756.00,2019-05-15,531748.56
4,2018-01-11,180024,LOR,98470,SR 58-00.00,TWO LANE RESURFACING,2018-01-18,2018-07-31,1743669.25,2018-10-12,1754532.83
...,...,...,...,...,...,...,...,...,...,...,...
197,2018-12-13,180609,HAS,91844,US 250-22.03,TWO LANE RESURFACING,2018-12-20,2019-09-30,2284000.00,2020-06-30,2212446.58
198,2018-12-13,180610,HIG,84622,SR 138-16.30 & SR 753-08.04,TWO LANE RESURFACING,2018-12-20,2019-07-31,1494436.47,2019-07-31,1658764.87
199,2018-12-13,180611,MAD,105547,US 42-00.00,TWO LANE RESURFACING,2018-12-20,2019-09-30,3611668.44,2019-09-30,3535001.30
200,2018-12-13,180621,CLI,87300,US 68/Var-00.00/07.09,TWO LANE RESURFACING,2018-12-20,2020-07-31,5441519.53,2020-08-07,5331565.99
201,2018-12-13,180622,BEL,91962,SR 800-00.00,TWO LANE RESURFACING,2018-12-20,2019-11-30,5165815.05,2020-06-30,5117316.50

In [2]:
df_output = pd.read_excel(r"C:\Users\clint\Desktop\RA Task\Ohio_projects_collected.xlsx")
df_output

,state,county,fips,year,project_start,project_id,route,mileage,lanes,project_duration_days,eng_estimate_mils,win_bid_mils,cost_mils,num_bidders,bidders_list
0,Ohio,Paulding,39125,2018,2018-05-24,105522,111,12.982,2,99,0.943,0.957859,1.04751,2,"Shelly Company, Gerken Paving"

# Project Data Requirements

Take note of the outcome variables we need to collect:

- **project_id**: Project identification number
- **route**: Highway route number/name
- **mileage**: Length of the project
- **lanes**: Number of lanes of the highway
- **project_duration_days**: Duration of project in days
- **eng_estimate_mils**: Engineer's estimated cost for project in millions
- **win_bid_mils**: Winning bid in millions
- **cost_mils**: Actual cost of completing the project in millions
- **num_bidders**: Number of bidders
- **bidders_list**: Names of all bidders (separated by commas or semicolons)

In [3]:
# Display column names and sample data
print("Columns in df_input:")
print(df_input.columns.tolist())
print("\nFirst few rows of data:")
df_input.head()

Columns in df_input:
['Bid Date', 'Project Num', 'County', 'PID', 'RouteSection', 'Desc', 'AwardDate', 'CompletionDate', 'Contract$', 'AdjCompDt', 'AdjContAmt']

First few rows of data:

,Bid Date,Project Num,County,PID,RouteSection,Desc,AwardDate,CompletionDate,Contract$,AdjCompDt,AdjContAmt
0,2018-11-08,180569,WYA,88832,US 23-15.89,FOUR LANE RESURFACING,2018-11-15,2019-09-01,3236774.92,2020-04-08,3304782.83
1,2018-01-11,180006,BUT,94263,SR 73-14.67,TWO LANE RESURFACING,2018-01-18,2018-08-01,258900.00,2018-08-01,232677.67
2,2018-01-11,180012,FRA,76467,IR 270-21.69,FOUR LANE RESURFACING,2018-01-18,2018-09-30,6101480.95,2018-11-18,6991613.05
3,2018-01-11,180020,HOC,101555,CR 33A -03.97,TWO LANE RESURFACING,2018-01-18,2018-09-30,553756.00,2019-05-15,531748.56
4,2018-01-11,180024,LOR,98470,SR 58-00.00,TWO LANE RESURFACING,2018-01-18,2018-07-31,1743669.25,2018-10-12,1754532.83

In [4]:
# Get basic information about the dataframe structure
print("DataFrame Info:")
df_input.info()

print("\nSummary statistics:")
df_input.describe()

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Bid Date        202 non-null    datetime64[ns]
 1   Project Num     202 non-null    int64
 2   County          202 non-null    object
 3   PID             202 non-null    int64
 4   RouteSection    202 non-null    object
 5   Desc            202 non-null    object
 6   AwardDate       202 non-null    datetime64[ns]
 7   CompletionDate  202 non-null    datetime64[ns]
 8   Contract$       202 non-null    float64
 9   AdjCompDt       202 non-null    datetime64[ns]
 10  AdjContAmt      202 non-null    float64
dtypes: datetime64[ns](4), float64(2), int64(2), object(3)
memory usage: 17.5+ KB

Summary statistics:

,Bid Date,Project Num,PID,AwardDate,CompletionDate,Contract$,AdjCompDt,AdjContAmt
count,202,202.000000,202.000000,202,202,2.020000e+02,202,2.020000e+02
mean,2018-06-01 05:56:26.138613760,180444.386139,96181.589109,2018-06-08 10:27:19.603960320,2019-01-25 21:08:54.653465344,2.313338e+06,2019-04-11 02:08:19.009901056,2.372430e+06
min,2018-01-11 00:00:00,180003.000000,25596.000000,2018-01-18 00:00:00,2018-06-30 00:00:00,1.269695e+05,2018-06-30 00:00:00,1.263542e+05
25%,2018-02-15 00:00:00,180158.000000,92498.750000,2018-02-22 00:00:00,2018-09-30 00:00:00,9.501134e+05,2018-10-11 06:00:00,9.753819e+05
50%,2018-05-03 00:00:00,180307.000000,97279.000000,2018-05-10 00:00:00,2018-10-31 00:00:00,1.703405e+06,2019-04-27 12:00:00,1.853574e+06
75%,2018-08-23 00:00:00,180490.750000,101594.750000,2018-09-02 18:00:00,2019-07-31 00:00:00,3.172261e+06,2019-09-11 00:00:00,3.221080e+06
max,2018-12-13 00:00:00,188001.000000,107725.000000,2018-12-20 00:00:00,2020-07-31 00:00:00,1.607099e+07,2021-06-05 00:00:00,1.599476e+07
std,NaN,946.235116,8206.867639,NaN,NaN,2.051047e+06,NaN,2.117672e+06

In [5]:
# Create a dictionary to store column explanations
column_explanations = {}

# Let's examine each column individually to understand the data
for column in df_input.columns:
    print(f"\n--- Column: {column} ---")
    print(f"Data type: {df_input[column].dtype}")
    print(f"Number of unique values: {df_input[column].nunique()}")
    print(f"Number of missing values: {df_input[column].isna().sum()}")
    print("Sample values:")
    if df_input[column].dtype == 'object':
        print(df_input[column].value_counts().head(5))
    else:
        print(df_input[column].head(5))

--- Column: Bid Date ---
Data type: datetime64[ns]
Number of unique values: 23
Number of missing values: 0
Sample values:
0   2018-11-08
1   2018-01-11
2   2018-01-11
3   2018-01-11
4   2018-01-11
Name: Bid Date, dtype: datetime64[ns]

--- Column: Project Num ---
Data type: int64
Number of unique values: 202
Number of missing values: 0
Sample values:
0    180569
1    180006
2    180012
3    180020
4    180024
Name: Project Num, dtype: int64

--- Column: County ---
Data type: object
Number of unique values: 77
Number of missing values: 0
Sample values:
County
MOT    7
WAY    7
CUY    7
ATB    5
GEA    5
Name: count, dtype: int64

--- Column: PID ---
Data type: int64
Number of unique values: 202
Number of missing values: 0
Sample values:
0     88832
1     94263
2     76467
3    101555
4     98470
Name: PID, dtype: int64

--- Column: RouteSection ---
Data type: object
Number of unique values: 201
Number of missing values: 0
Sample values:
RouteSection
US 6-00.00       2
SR 73-14.67      1
IR 270-21.69     1
CR 33A -03.97    1
SR 58-00.00      1
Name: count, dtype: int64

--- Column: Desc ---
Data type: object
Number of unique values: 2
Number of missing values: 0
Sample values:
Desc
TWO LANE RESURFACING     140
FOUR LANE RESURFACING     62
Name: count, dtype: int64

--- Column: AwardDate ---
Data type: datetime64[ns]
Number of unique values: 30
Number of missing values: 0
Sample values:
0   2018-11-15
1   2018-01-18
2   2018-01-18
3   2018-01-18
4   2018-01-18
Name: AwardDate, dtype: datetime64[ns]

--- Column: CompletionDate ---
Data type: datetime64[ns]
Number of unique values: 52
Number of missing values: 0
Sample values:
0   2019-09-01
1   2018-08-01
2   2018-09-30
3   2018-09-30
4   2018-07-31
Name: CompletionDate, dtype: datetime64[ns]

--- Column: Contract$ ---
Data type: float64
Number of unique values: 202
Number of missing values: 0
Sample values:
0    3236774.92
1     258900.00
2    6101480.95
3     553756.00
4    1743669.25
Name: Contract$, dtype: float64

--- Column: AdjCompDt ---
Data type: datetime64[ns]
Number of unique values: 106
Number of missing values: 0
Sample values:
0   2020-04-08
1   2018-08-01
2   2018-11-18
3   2019-05-15
4   2018-10-12
Name: AdjCompDt, dtype: datetime64[ns]

--- Column: AdjContAmt ---
Data type: float64
Number of unique values: 202
Number of missing values: 0
Sample values:
0    3304782.83
1     232677.67
2    6991613.05
3     531748.56
4    1754532.83
Name: AdjContAmt, dtype: float64

In [6]:
# Check for duplicate rows in df_input
duplicate_rows = df_input.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_rows}")

# If there are duplicates, let's see which rows are duplicated
if duplicate_rows > 0:
    print("\nDuplicate rows:")
    print(df_input[df_input.duplicated(keep='first')])
    
    # Check which columns might be causing the duplicates
    print("\nChecking which columns might be causing duplicates...")
    for col in df_input.columns:
        dup_in_col = df_input.duplicated(subset=[col]).sum()
        if dup_in_col > 0:
            print(f"Column '{col}' has {dup_in_col} duplicate values")
            
    # Show what percentage of the dataset consists of duplicates
    print(f"\nDuplicate rows represent {duplicate_rows/len(df_input)*100:.2f}% of the dataset")
else:
    print("There are no duplicate rows in the dataset.")

Number of duplicate rows: 0
There are no duplicate rows in the dataset.

# Column Explanations

We see that there are no Nan Values and the entries seem to be consistent. There are no repeated rows.  
Based on the data exploration, here's an understanding of each column in the `df_input` dataframe:

1. **Bid Date**: The date when bids for the project were accepted (date format). In 2018, there were 23 unique bid dates, suggesting that ODOT (Ohio Department of Transportation) accepted bids on specific days throughout the year.

2. **Project Num**: A unique identifier for each project, typically in the format "18XXXX" (where 18 likely represents the year 2018). Every project has a unique number. Work needs to be done to understand the properties of "Project Num" and how it relates to project_id and "PID"

3. **County**: The Ohio county where the project is located. There are 77 unique counties represented, with Montgomery (MOT), Wayne (WAY), and Cuyahoga (CUY) having the most projects (7 each).

4. **PID**: Project Identification Number - another unique identifier for each project, likely ODOT's internal reference number.

5. **RouteSection**: Identifies the specific road/highway section for the project. Format is typically "[Route Type]-[Number]-[Section]" (e.g., "US 23-15.89", "SR 73-14.67"). The number after the dash may represent the mile marker.

6. **Desc**: Description of the project type. There are only 2 categories:
   - "TWO LANE RESURFACING" (140 projects)
   - "FOUR LANE RESURFACING" (62 projects)

7. **AwardDate**: The date when the project was officially awarded to a contractor, typically about a week after the bid date.

8. **CompletionDate**: The originally planned completion date for the project.

9. **Contract$**: The original contract amount in dollars (the winning bid). Values range from about $127K to $16M, with a mean of $2.3M.

10. **AdjCompDt**: Adjusted Completion Date - the actual date when the project was completed. Often differs from the original completion date, suggesting schedule adjustments during construction.

11. **AdjContAmt**: Adjusted Contract Amount - the final cost of the project in dollars. Comparing this to Contract$ would show cost overruns or savings.

In [7]:
# Let's also examine the columns in df_output to understand what data has been collected
print("Columns in df_output:")
print(df_output.columns.tolist())
print("\nFirst few rows of df_output:")
df_output.head()

Columns in df_output:
['state', 'county', 'fips', 'year', 'project_start', 'project_id', 'route', 'mileage', 'lanes', 'project_duration_days', 'eng_estimate_mils', 'win_bid_mils', 'cost_mils', 'num_bidders', 'bidders_list']

First few rows of df_output:

,state,county,fips,year,project_start,project_id,route,mileage,lanes,project_duration_days,eng_estimate_mils,win_bid_mils,cost_mils,num_bidders,bidders_list
0,Ohio,Paulding,39125,2018,2018-05-24,105522,111,12.982,2,99,0.943,0.957859,1.04751,2,"Shelly Company, Gerken Paving"

In [8]:
# Get basic information about the output dataframe structure
print("Output DataFrame Info:")
df_output.info()

Output DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   state                  1 non-null      object
 1   county                 1 non-null      object
 2   fips                   1 non-null      int64
 3   year                   1 non-null      int64
 4   project_start          1 non-null      datetime64[ns]
 5   project_id             1 non-null      int64
 6   route                  1 non-null      int64
 7   mileage                1 non-null      float64
 8   lanes                  1 non-null      int64
 9   project_duration_days  1 non-null      int64
 10  eng_estimate_mils      1 non-null      float64
 11  win_bid_mils           1 non-null      float64
 12  cost_mils              1 non-null      float64
 13  num_bidders            1 non-null      int64
 14  bidders_list           1 non-null      object
dtypes: datetime64[ns](1), float64(4), int64(7), object(3)
memory usage: 252.0+ bytes

# Mapping

Lets study our IDs to understand our mapping.

In [9]:
df_output

,state,county,fips,year,project_start,project_id,route,mileage,lanes,project_duration_days,eng_estimate_mils,win_bid_mils,cost_mils,num_bidders,bidders_list
0,Ohio,Paulding,39125,2018,2018-05-24,105522,111,12.982,2,99,0.943,0.957859,1.04751,2,"Shelly Company, Gerken Paving"

In [10]:
# Search for rows where PID or Project Num is 105522 in df_input
df_input[(df_input['PID'] == 105522) | (df_input['Project Num'] == 105522)]

,Bid Date,Project Num,County,PID,RouteSection,Desc,AwardDate,CompletionDate,Contract$,AdjCompDt,AdjContAmt
109,2018-05-17,180326,PAU,105522,SR 111-04.67,TWO LANE RESURFACING,2018-05-24,2018-08-31,957859.2,2018-08-31,1047510.14

# Data Mapping Insights

After analyzing both the input and output dataframes, we've identified the following relationships and data sources:

## Identifier Mappings
- **PID** in `df_input` matches **project_id** in `df_output`
- **AwardDate** in `df_input` matches **project_start** in `df_output`

## Route Information
- **Route** can be extracted from the **RouteSection** field in `df_input`
  - Format: "XX-AAA-XX.XX" where "AAA" represents the route number
  - Example: From "US-23-15.89" we extract "23" as the route number (Later on we realize this is a inconsistent approach and improve our methodology).

## Data Fields Available in Input Dataset
- **lanes**: Can be derived from **Desc** column
  - "TWO LANE RESURFACING" = 2 lanes
  - "FOUR LANE RESURFACING" = 4 lanes

- **project_duration_days**: Can be calculated in two ways:
  - Estimated duration: (CompletionDate - AwardDate).days
  - Actual duration: (AdjCompDt - AwardDate).days

- **win_bid_mils**: Available by converting **Contract$** / 1,000,000

- **cost_mils**: Available by converting **AdjContAmt** / 1,000,000

## Data Fields Requiring External Sources

- **eng_estimate_mils**: Engineer's estimate requires accessing ODOT websites:
  - https://www.dot.state.oh.us/Divisions/ContractAdmin/Contracts/BidTabulations/Forms/AllItems.aspx
  - https://www.dot.state.oh.us/Divisions/ContractAdmin/Contracts/Pages/Award-Sheets.aspx
  - https://contracts.dot.state.oh.us/common/searchAPI.do;jsessionid=8567OrqUXoCDCtBCpamLFGbPmXKi0Elr38N4Dv0S.dotidpxep02?fetchCurrent=false&PROJECT_NUM=20*&cabinetId=1607
  - Search for the PID, then read the "Engineer's Estimate" line and divide by 1 million

- **num_bidders** and **bidders_list**: Available at ODOT's BidX platform
  - Access URL: https://ui.bidx.com/ODOT/lettings/[DATE]/proposals/[COUNTY_CODE+PID]
  - Example: https://ui.bidx.com/ODOT/lettings/18-05-17/proposals/PAU105522
  - Search using a combination of county code and PID (e.g., "PAU105522")



## County Information and FIPS Codes
We can supplement our dataset by retrieving additional county information:
- County names can be derived by searching project IDs on the ODOT TIMS portal: https://tims.dot.state.oh.us/tims/projects
- This county information can be used to create FIPS (Federal Information Processing Standards) codes for geospatial analysis

## Project Year Definition
For analytical purposes, we will define the project year based on the **project_start** date (equivalent to **AwardDate** in the input dataset)

## Data Collection Workflow (subject to change)
1. Use PID to match records between input and output datasets
2. Extract route numbers from RouteSection field
3. Derive lane counts from project descriptions
4. Calculate project durations using date fields
5. Convert monetary values to millions
6. Access external ODOT resources for engineer estimates
7. Use BidX platform to collect bidder information
8. Supplement with TIMS portal data for county/geographical information

This approach is subject to change as we learn more working with the dataset.