We now verify whether our code worked in handling problematic project IDs.

In [1]:
import pandas as pd
df_reprocessed = pd.read_csv(r"C:\Users\clint\Desktop\RA Task\ohio_projects_reprocessed.csv")
df_reprocessed

,state,county,fips,year,project_start,project_id,route,mileage,lanes,project_duration_days,eng_estimate_mils,win_bid_mils,cost_mils,num_bidders,bidders_list,all_routes
0,Ohio,Paulding,39125.0,2018.0,2018-05-24,105522,111,12.982,2.0,99.0,0.943,0.957859,1.04751,2.0,"Shelly Company, Gerken Paving",NaN
1,Ohio,Wyandot,NaN,NaN,NaN,88832,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['23', '23', '23']"
2,Ohio,Butler,NaN,NaN,NaN,94263,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['73']
3,Ohio,Franklin,NaN,NaN,NaN,76467,270 / 315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['270', '270', '270', '270', '270', '270', '27..."
4,Ohio,Hocking,NaN,NaN,NaN,101555,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['33']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,Ohio,Harrison,NaN,NaN,NaN,91844,250 / 9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['9', '250']"
199,Ohio,Highland,NaN,NaN,NaN,84622,138 / 753,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['138', '138', '138', '753']"
200,Ohio,Madison,NaN,NaN,NaN,105547,42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['42', '42', '42']"
201,Ohio,Clinton,NaN,NaN,NaN,87300,251 / 68 / 350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['68', '68', '68', '68', '68', '68', '251', '3..."
202,Ohio,Belmont,NaN,NaN,NaN,91962,800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['800', '800', '800']"

In [2]:
# Show all rows in df_output where 'route' is NaN
df_reprocessed[df_reprocessed['route'].isna()]

Empty DataFrame
Columns: [state, county, fips, year, project_start, project_id, route, mileage, lanes, project_duration_days, eng_estimate_mils, win_bid_mils, cost_mils, num_bidders, bidders_list, all_routes]
Index: []

We see that our problematic Ids are gone.

In [3]:
# Create a dictionary mapping Ohio counties to their FIPS codes
# Ohio state FIPS code is 39, and each county has a 3-digit code that follows
ohio_county_fips = {
    'Adams': '39001',
    'Allen': '39003',
    'Ashland': '39005',
    'Ashtabula': '39007',
    'Athens': '39009',
    'Auglaize': '39011',
    'Belmont': '39013',
    'Brown': '39015',
    'Butler': '39017',
    'Carroll': '39019',
    'Champaign': '39021',
    'Clark': '39023',
    'Clermont': '39025',
    'Clinton': '39027',
    'Columbiana': '39029',
    'Coshocton': '39031',
    'Crawford': '39033',
    'Cuyahoga': '39035',
    'Darke': '39037',
    'Defiance': '39039',
    'Delaware': '39041',
    'Erie': '39043',
    'Fairfield': '39045',
    'Fayette': '39047',
    'Franklin': '39049',
    'Fulton': '39051',
    'Gallia': '39053',
    'Geauga': '39055',
    'Greene': '39057',
    'Guernsey': '39059',
    'Hamilton': '39061',
    'Hancock': '39063',
    'Hardin': '39065',
    'Harrison': '39067',
    'Henry': '39069',
    'Highland': '39071',
    'Hocking': '39073',
    'Holmes': '39075',
    'Huron': '39077',
    'Jackson': '39079',
    'Jefferson': '39081',
    'Knox': '39083',
    'Lake': '39085',
    'Lawrence': '39087',
    'Licking': '39089',
    'Logan': '39091',
    'Lorain': '39093',
    'Lucas': '39095',
    'Madison': '39097',
    'Mahoning': '39099',
    'Marion': '39101',
    'Medina': '39103',
    'Meigs': '39105',
    'Mercer': '39107',
    'Miami': '39109',
    'Monroe': '39111',
    'Montgomery': '39113',
    'Morgan': '39115',
    'Morrow': '39117',
    'Muskingum': '39119',
    'Noble': '39121',
    'Ottawa': '39123',
    'Paulding': '39125',
    'Perry': '39127',
    'Pickaway': '39129',
    'Pike': '39131',
    'Portage': '39133',
    'Preble': '39135',
    'Putnam': '39137',
    'Richland': '39139',
    'Ross': '39141',
    'Sandusky': '39143',
    'Scioto': '39145',
    'Seneca': '39147',
    'Shelby': '39149',
    'Stark': '39151',
    'Summit': '39153',
    'Trumbull': '39155',
    'Tuscarawas': '39157',
    'Union': '39159',
    'Van Wert': '39161',
    'Vinton': '39163',
    'Warren': '39165',
    'Washington': '39167',
    'Wayne': '39169',
    'Williams': '39171',
    'Wood': '39173',
    'Wyandot': '39175',
    # Add variations or common misspellings that might occur in the data
    'ADAMS': '39001',
    'ALLEN': '39003',
    # ...and so on for all other counties
}

# Function to get FIPS code for a county
def get_fips_code(county_name):
    """Get the FIPS code for a given county name.
    
    Args:
        county_name (str): Name of the county
        
    Returns:
        str: FIPS code if found, None otherwise
    """
    if county_name is None:
        return None
    
    # Handle District 7 and District 8 special cases
    if county_name == 'District 7' or county_name == 'DISTRICT 7' or county_name == 'district 7':
        print(f"Converting '{county_name}' to 'Champaign' county")
        county_name = 'Champaign'
    
    if county_name == 'District 8' or county_name == 'DISTRICT 8' or county_name == 'district 8':
        print(f"Converting '{county_name}' to 'Warren' county")
        county_name = 'Warren'
        
    # Try direct lookup
    if county_name in ohio_county_fips:
        return ohio_county_fips[county_name]
    
    # Try case-insensitive lookup
    county_name_lower = county_name.lower()
    for county, fips in ohio_county_fips.items():
        if county.lower() == county_name_lower:
            return fips
    
    # Try to handle special cases or partial matches
    for county, fips in ohio_county_fips.items():
        if county_name_lower in county.lower() or county.lower() in county_name_lower:
            print(f"Fuzzy match: '{county_name}' matched with '{county}'")
            return fips
    
    print(f"Warning: Could not find FIPS code for county: '{county_name}'")
    return None

# Add FIPS codes to the DataFrame
def add_fips_to_dataframe(df):
    """Add FIPS codes to the DataFrame based on county information.
    
    Args:
        df (pd.DataFrame): DataFrame with 'county' column
        
    Returns:
        pd.DataFrame: DataFrame with 'fips' column added
    """
    # Create a new column for FIPS codes
    df['fips'] = df['county'].apply(get_fips_code)
    
    # Report statistics
    total_rows = len(df)
    filled_fips = df['fips'].notnull().sum()
    print(f"FIPS codes added: {filled_fips} out of {total_rows} ({filled_fips / total_rows * 100:.2f}%)")
    
    return df

# Apply the function to add FIPS codes
df_reprocessed = add_fips_to_dataframe(df_reprocessed)

# Display the updated DataFrame
df_reprocessed

Converting 'District 7' to 'CHAMPAIGN' county
Converting 'District 8' to 'Warren' county
FIPS codes added: 203 out of 203 (100.00%)

,state,county,fips,year,project_start,project_id,route,mileage,lanes,project_duration_days,eng_estimate_mils,win_bid_mils,cost_mils,num_bidders,bidders_list,all_routes
0,Ohio,Paulding,39125,2018.0,2018-05-24,105522,111,12.982,2.0,99.0,0.943,0.957859,1.04751,2.0,"Shelly Company, Gerken Paving",NaN
1,Ohio,Wyandot,39175,NaN,NaN,88832,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['23', '23', '23']"
2,Ohio,Butler,39017,NaN,NaN,94263,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['73']
3,Ohio,Franklin,39049,NaN,NaN,76467,270 / 315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['270', '270', '270', '270', '270', '270', '27..."
4,Ohio,Hocking,39073,NaN,NaN,101555,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['33']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,Ohio,Harrison,39067,NaN,NaN,91844,250 / 9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['9', '250']"
199,Ohio,Highland,39071,NaN,NaN,84622,138 / 753,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['138', '138', '138', '753']"
200,Ohio,Madison,39097,NaN,NaN,105547,42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['42', '42', '42']"
201,Ohio,Clinton,39027,NaN,NaN,87300,251 / 68 / 350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['68', '68', '68', '68', '68', '68', '251', '3..."
202,Ohio,Belmont,39013,NaN,NaN,91962,800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['800', '800', '800']"

In [4]:
# Display rows where the 'fips' column is NaN
df_reprocessed[df_reprocessed['fips'].isna()]

Empty DataFrame
Columns: [state, county, fips, year, project_start, project_id, route, mileage, lanes, project_duration_days, eng_estimate_mils, win_bid_mils, cost_mils, num_bidders, bidders_list, all_routes]
Index: []

In [5]:
# Re-apply the updated function to handle District 7 and District 8
# First, let's check if we have any district entries
district_entries = df_reprocessed[df_reprocessed['county'].str.contains('District', case=False, na=False)]
print(f"Found {len(district_entries)} entries with 'District' in the county name:")
print(district_entries[['project_id', 'county']])

# Re-apply the function to add FIPS codes with our updated function that handles districts
df_reprocessed = add_fips_to_dataframe(df_reprocessed)

# Check if we resolved the district entries
remaining_districts = df_reprocessed[
    (df_reprocessed['county'].str.contains('District', case=False, na=False)) & 
    (df_reprocessed['fips'].isna())
]
print(f"\nRemaining unresolved district entries: {len(remaining_districts)}")
print(remaining_districts[['project_id', 'county']] if len(remaining_districts) > 0 else "No unresolved district entries.")

# Display rows where the 'fips' column is still NaN
print("\nRows with NaN FIPS codes after updating:")
nan_fips_rows = df_reprocessed[df_reprocessed['fips'].isna()]
print(nan_fips_rows[['project_id', 'county']])

# Save the updated DataFrame with district mappings applied
output_path = r"C:\Users\clint\Desktop\RA Task\ohio_projects_with_districts.csv"
df_reprocessed.to_csv(output_path, index=False)
print(f"\nUpdated DataFrame saved to: {output_path}")

Found 2 entries with 'District' in the county name:
     project_id      county
133      105326  District 7
154       94201  District 8
Converting 'District 7' to 'CHAMPAIGN' county
Converting 'District 8' to 'Warren' county
FIPS codes added: 203 out of 203 (100.00%)

Remaining unresolved district entries: 0
No unresolved district entries.

Rows with NaN FIPS codes after updating:
Empty DataFrame
Columns: [project_id, county]
Index: []

Updated DataFrame saved to: C:\Users\clint\Desktop\RA Task\ohio_projects_with_districts.csv

We now handle the special case where a project is associated with "District 7" or "District 8" instead of a specific county. 

As per the requirement:
- District 7 is mapped to CHAMPAIGN county
- District 8 is mapped to Warren county

This mapping allows us to associate the correct FIPS codes with these district entries, ensuring more complete geographic data for analysis. We've added this logic to our `get_fips_code` function which will automatically convert these district values to their corresponding counties before looking up the FIPS code.

In [6]:
df_with_districts = pd.read_csv(r"C:\Users\clint\Desktop\RA Task\ohio_projects_with_districts.csv")
df_with_districts

,state,county,fips,year,project_start,project_id,route,mileage,lanes,project_duration_days,eng_estimate_mils,win_bid_mils,cost_mils,num_bidders,bidders_list,all_routes
0,Ohio,Paulding,39125,2018.0,2018-05-24,105522,111,12.982,2.0,99.0,0.943,0.957859,1.04751,2.0,"Shelly Company, Gerken Paving",NaN
1,Ohio,Wyandot,39175,NaN,NaN,88832,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['23', '23', '23']"
2,Ohio,Butler,39017,NaN,NaN,94263,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['73']
3,Ohio,Franklin,39049,NaN,NaN,76467,270 / 315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['270', '270', '270', '270', '270', '270', '27..."
4,Ohio,Hocking,39073,NaN,NaN,101555,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['33']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,Ohio,Harrison,39067,NaN,NaN,91844,250 / 9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['9', '250']"
199,Ohio,Highland,39071,NaN,NaN,84622,138 / 753,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['138', '138', '138', '753']"
200,Ohio,Madison,39097,NaN,NaN,105547,42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['42', '42', '42']"
201,Ohio,Clinton,39027,NaN,NaN,87300,251 / 68 / 350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['68', '68', '68', '68', '68', '68', '251', '3..."
202,Ohio,Belmont,39013,NaN,NaN,91962,800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['800', '800', '800']"

In [7]:
df_with_districts[df_with_districts['fips'].isna()]

Empty DataFrame
Columns: [state, county, fips, year, project_start, project_id, route, mileage, lanes, project_duration_days, eng_estimate_mils, win_bid_mils, cost_mils, num_bidders, bidders_list, all_routes]
Index: []

We now see we have removed all the errors associated with "District".